
<%- include("header") -%>
<body>
  <div class="box" id="heading">
    <h1> <%= listTitle %>
    <!-- <form action="index.html" method="post">
      <input type="text" name="change" placeholder="Change the list">
      <button class="change" type="submit" name="changeBtn">↻</button>
    </form> -->
    </h1>
  </div>



  <div class="box">
    <% newListItems.forEach(function(item){ %>
      <form action="/delete" method="post">
        <div class="item">
          <input type="checkbox" name="checkbox" value="<%= item._id %>" onchange="this.form.submit()">
          <p><%= item.name %></p>
        </div>
        <input type="hidden" name="listName" value="<%= listTitle %>"></input>
      </form>

    <%})%>

      <form class="item" action="/" method="post">
        <input type="text" name="newItem" placeholder="New Item" required autofocus>
        <button type="submit" name="button" value="<%= listTitle %>">+</button>
      </form>
  </div>


</body>

<%- include("footer") -%>

</html>
